<% if pagy %>
  <div class="bg-white px-42 py-1 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= pagy.from %></span>
          to
          <span class="font-medium"><%= pagy.to %></span>
          of
          <span class="font-medium"><%= pagy.count %></span>
          results
        </p>
      </div>
      <%= pagy_links do %>
        <%== pagy_nav pagy %>
      <% end %>
    </div>    
  </div>
<% end %>
